<div class="name-proyect">
    <h3>BOX-PIANO</h3>
</div>
<div class="piano">
    <div class="sonidos">   
        <div class="content-sonidos">
            <button [ngStyle]="{'background-color':tambor ? 'rgb(189, 189, 189)' :'white'}" class="tambor-circuito" (click)="aplicarTambor()">
                <i class="fas fa-drum"></i>
            </button>
            <input type="range" (change)="cambiarVolumen('tambor')" [(ngModel)]="volumenTambor"/>
        </div>
       <div class="content-sonidos">
        <button [ngStyle]="{'background-color':bateria ? 'rgb(189, 189, 189)' :'white'}" class="tambor-circuito" (click)="aplicarBateria()">
            <i class="fas fa-drum-steelpan"></i>           
        </button>
        <input type="range" (change)="cambiarVolumen('bateria')" [(ngModel)]="volumenBateria"/>
       </div>
        <div class="content-sonidos">
            <button [ngStyle]="{'background-color':piano ? 'rgb(189, 189, 189)' :'white'}" class="tambor-circuito" (click)="aplicarPiano()">
                <img src="../assets/imagenes/piano_sonido.png" width="25px" alt="">
            </button>
            <input type="range" (change)="cambiarVolumen('piano')" [(ngModel)]="volumenPiano"/>
        </div>
     
    </div>
    <div class="list-group">
        <div class="tipo-tecla">
            <div (click)="seleccionarTipoTecla('piano')" class="tipo-tecla__piano" [ngStyle]="{'background-color': tipoTecla === 'piano'? 'rgb(189, 189, 189)': 'white'}">
                <img src="../assets/imagenes/piano_sonido.png" alt="Piano" width="25px">
            </div>
            <div (click)="seleccionarTipoTecla('marimba')" class="tipo-tecla__guitarra" [ngStyle]="{'background-color': tipoTecla === 'marimba'? 'rgb(189, 189, 189)': 'white'}">
                <img src="../assets/imagenes/marimba.png" alt="Bajo" width="25px">
            </div>
            <div (click)="seleccionarTipoTecla('cello')" class="tipo-tecla__bajo" [ngStyle]="{'background-color': tipoTecla === 'cello'? 'rgb(189, 189, 189)': 'white'}">
                <img src="../assets/imagenes/cello.png" alt="Guitarra" width="25px">
            </div>
        </div>
        <div (click)="aplicarTeclasSonido(1)" class="tecla">
            <div class="semi-tecla"></div>
        </div>
        <div (click)="aplicarTeclasSonido(2)" class="tecla">
            <div class="semi-tecla"></div>
        </div>
        <div (click)="aplicarTeclasSonido(3)" class="tecla"></div>
        <div (click)="aplicarTeclasSonido(4)" class="tecla">
            <div class="semi-tecla"></div>
        </div>
        <div (click)="aplicarTeclasSonido(5)" class="tecla">
            <div class="semi-tecla"></div>
        </div>
        <div (click)="aplicarTeclasSonido(6)" class="tecla">
            <div class="semi-tecla"></div>
        </div>
        <div (click)="aplicarTeclasSonido(7)" class="tecla"></div>
        <div (click)="aplicarTeclasSonido(8)" class="tecla"></div>
    </div>


</div>


